#loading-spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Fondo semi-transparente */
  backdrop-filter: blur(10px); /* Desenfoque de fondo */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* HTML: <div class="loader"></div> */
.spinner {
  width: 100px;
  padding: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #157f3d;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.disable-interaction {
  pointer-events: none; /* Deshabilitar interacciones */
  overflow: hidden; /* Evitar desplazamiento mientras se muestra el loader */
}