<div class="flex px-4 items-center mt-2 justify-between mb-8">
  <h1
    class="text-4xl font-normal bold sm:text-2xl md:text-4xl lg:text-5xl text-left"
  >
    Apartamentos
  </h1>
  <button
    class="px-2 py-2 bgverde text-white rounded-full"
    data-modal-target="authentication-modal"
    data-modal-toggle="authentication-modal"
  >
    <img src="{{ url_for('static', filename='icons/plus.svg')}}" class="h-9 w-9" />
  </button>
</div>
`
<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th class="verde text-xl">Edificio</th>
        <th class="verde text-xl">#</th>
        <th class="verde text-xl">Ocupado</th>
        <th class="verde text-xl">Residente</th>
        <th class="verde text-xl">Fecha de Registro</th>
      </tr>
    </thead>
    <tbody>
      {% for a in apartments %}
      <tr>
        <td class="text-md medium lg:text-lg">
          {{ a.building }}
        </td>
        <td class="text-md medium lg:text-lg font-bold">
         {{a.apartment_number}}
        </td>
        <td class="text-md medium lg:text-lg">{% if a.occupied == 1 %}
          Ocupado

          {% else %}
          Libre
        {% endif %}</td>
        <td class="text-md medium lg:text-lg"></td>
        <td class="text-md medium lg:text-lg"></td>
        <td class="">
          <div class="flex gap-3 justify-end">

          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>