<style>
  [data-modal-target] {
    z-index: 1x0 !important;
  }
  .backdrop {
    z-index: 20 !important;
  }
  #claim-modal:not(.hidden),
  #reject-modal:not(.hidden) {
    display: flex !important;
    opacity: 1 !important;
  }
  #claim-modal .relative,
  #reject-modal .relative {
    z-index: 60 !important;
  }
</style>

<div class="flex items-center justify-between px-4 mt-2 mb-8">
  <h1 class="text-4xl font-bold sm:text-2xl md:text-4xl lg:text-5xl text-left">
    Reclamos
  </h1>
</div>
{% if claims %} {% for c in claims %}
<div
  class="space-y-4 mb-4 claim-card {{ 'hidden additional-claim' if loop.index0 > 2 }}"
>
  <div
    class="bg-white p-4 sm:p-6 rounded-lg border border-gray-200 hover:shadow-md transition"
  >
    <!-- Contenido principal -->
    <div class="flex-1">
      <!-- Header con categoría y estado -->
      <div class="flex justify-between items-center mb-2">
        <h3 class="font-bold text-gray-800 text-base sm:text-lg">
          {{ c.category }}
        </h3>
        <span
          class="px-2 py-1 text-xs font-medium rounded inline-block {% if c.status == 'pendiente' %} bg-red-100 text-red-800 {% elif c.status == 'atendido' %} bg-yellow-100 text-yellow-800 {% elif c.status == 'rechazado' %} bg-red-700 text-white {% elif c.status == 'en progreso' %} bg-blue-100 text-blue-800 {% elif c.status == 'resuelto' %} bg-green-100 text-green-800 {% endif %}"
        >
          {{ c.status }}
        </span>
      </div>

      <!-- Descripción -->
      <p class="text-gray-600 text-sm mb-3">{{ c.description }}</p>

      <!-- Galería de evidencias -->
      <div
        class="mb-3 flex flex-wrap gap-2 thumbnails"
        data-claim-id="{{ c.id }}"
      >
        {% set evidence_list = [] %} {% if c.evidence_1 %} {% set _ =
        evidence_list.append(url_for('static', filename='uploads/evidences/' +
        c.name|trim + '_' + c.last_name|trim + '/' + c.evidence_1)) %}
        <img
          src="{{ evidence_list[-1] }}"
          alt=""
          class="w-16 h-16 rounded overflow-hidden cursor-pointer object-cover hover:opacity-80 transition thumbnail-img"
          data-index="0"
          data-claim-id="{{ c.id }}"
        />
        {% endif %} {% if c.evidence_2 %} {% set _ =
        evidence_list.append(url_for('static', filename='uploads/evidences/' +
        c.name|trim + '_' + c.last_name|trim + '/' + c.evidence_2)) %}
        <img
          src="{{ evidence_list[-1] }}"
          alt="Evidencia 2 del reclamo"
          class="w-16 h-16 rounded overflow-hidden cursor-pointer hover:opacity-80 transition object-cover thumbnail-img"
          data-index="1"
          data-claim-id="{{ c.id }}"
        />
        {% endif %} {% if c.evidence_3 %} {% set _ =
        evidence_list.append(url_for('static', filename='uploads/evidences/' +
        c.name|trim + '_' + c.last_name|trim + '/' + c.evidence_3)) %}
        <img
          src="{{ evidence_list[-1] }}"
          alt="Evidencia 3 del reclamo"
          class="w-16 h-16 rounded overflow-hidden cursor-pointer hover:opacity-80 transition object-cover thumbnail-img"
          data-index="2"
          data-claim-id="{{ c.id }}"
        />
        {% endif %}
      </div>

      <!-- Nombre y fecha -->
      <div class="text-sm mb-4">
        <h2 class="verde hover:underline mb-1">
          {{ c.name }} {{ c.last_name }}
        </h2>
        <span class="text-gray-500">Creado: {{ c.created_at }}</span>
      </div>
      {% if c.rating %}
  <div class="rating mt-2">

    {% for i in range(1, 6) %}
      <input type="radio" name="admin-rating-{{ c.id }}" class="mask mask-star-2 bgverde" disabled
        {% if i == c.rating %} checked {% endif %} />
    {% endfor %}
  </div>
{% endif %}

    </div>

    <!-- Botones (al final, alineados a la derecha) -->
    {% if c.status == 'pendiente' %}
    <div class="flex justify-end">
      <div class="flex flex-col sm:flex-row gap-2 w-full sm:w-auto">
        <button
          class="bgverde px-3 py-2 rounded-lg text-white text-sm attend-claim-btn w-full hover:bg-green-700 transition"
          data-claim-id="{{ c.id }}"
          data-modal-toggle="claim-modal"
          data-modal-target="claim-modal"
        >
          Atender
        </button>
        <button
          class="bg-red-700 px-3 py-2 rounded-lg reject-claim-btn text-white text-sm w-full hover:bg-red-800 transition"
          data-claim-id="{{ c.id }}"
          data-modal-toggle="reject-modal"
          data-modal-target="reject-modal"
        >
          Rechazar
        </button>
      </div>
    </div>
    {% elif c.status == 'en progreso' %}
    <div class="flex justify-end">
      <form action="/admin/finish_claim" method="POST">
        <input type="text" class="hidden" name="claim_id" value="{{c.id}}">
        <button
          class="bg-blue-700 px-3 py-2 rounded-lg text-white text-sm hover:bg-blue-800 transition"
        >
          Terminado
        </button>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %} {% if claims|length > 3 %}
<div class="flex justify-center sm:justify-start">
  <button
    id="show-more-btn"
    class="mt-4 verde text-sm hover:underline px-4 py-2"
  >
    Ver Historial
  </button>
</div>
{% endif %} {% endif %}

<!-- Modal para Atender Reclamo -->
<div
  id="claim-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden z-50 fixed inset-0 w-full h-full bg-black/20"
>
  <div
    class="relative p-4 w-full max-w-2xl max-h-full flex items-center justify-center"
  >
    <div class="relative bg-white rounded-lg shadow w-full">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">Atender Reclamo</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="claim-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Cerrar modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5 space-y-4">
        <form
          id="claim-form"
          class="space-y-4"
          action="/admin/attend_claim"
          method="POST"
        >
          <div>
            <label
              for="claim-date"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Fecha de mantenimiento:</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#b3b2b1"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 1 1 0 2H5a1 1 0 0 1 0-2Z"
                  />
                </svg>
              </div>
              <input
                id="claim-date"
                name="schedule_date"
                type="date"
                class="block w-full rounded-lg border border-gray-300 p-2.5 pl-10 text-sm text-gray-900 focus:ring-green-500 focus:border-green-500"
                placeholder="Seleccionar fecha"
                required
              />
            </div>
            <p
              id="claim-date-error"
              class="text-red-500 text-xs mt-1 hidden"
            ></p>
          </div>
          <div>
            <input type="hidden" id="claim-id-input" name="claim_id" />
            <label
              for="start-time"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Hora de inicio:</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#b3b2b1"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                type="time"
                id="start-time"
                name="start_time"
                step="60"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                required
              />
            </div>
            <p
              id="start-time-error"
              class="text-red-500 text-xs mt-1 hidden"
            ></p>
          </div>
          <div>
            <label
              for="claim-description"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Descripción:</label
            >
            <textarea
              id="claim-description"
              name="description"
              required
              rows="3"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 resize-none"
              placeholder="Detalles del mantenimiento..."
            ></textarea>
          </div>
          <div
            class="flex justify-end p-4 md:p-5 border-t border-gray-200 rounded-b"
          >
            <button
              id="save-button"
              type="submit"
              class="text-white bgverde font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-50 disabled:cursor-not-allowed"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para Rechazar Reclamo -->
<div
  id="reject-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden z-50 fixed inset-0 w-full h-full bg-black/20"
>
  <div
    class="relative p-4 w-full max-w-xl max-h-full flex items-center justify-center"
  >
    <div class="relative bg-white rounded-lg shadow w-full">
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">Rechazar Reclamo</h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="reject-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Cerrar modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5 space-y-4">
        <form
          id="reject-claim-form"
          class="space-y-4"
          action="/admin/reject_claim"
          method="POST"
        >
          <input type="hidden" id="reject-id-input" name="claim_id" />
          <div>
            <label
              for="reject-reason"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Motivo del rechazo:</label
            >
            <textarea
              id="reject-reason"
              name="reject_reason"
              required
              rows="3"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 resize-none"
              placeholder="Ingrese el motivo del rechazo..."
            ></textarea>
          </div>
          <div
            class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b"
          >
            <button
              type="submit"
              class="text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            >
              Rechazar
            </button>
            <button
              data-modal-hide="reject-modal"
              type="button"
              class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/claims.js') }}"></script>
