<h2
  class="text-4xl font-normal bold sm:text-2xl md:text-4xl lg:text-5xl text-left mb-6 mt-4 px-2"
>
  Viviendas
</h2>
<div class="grid grid-cols- sm:grid-cols-1 md:grid-cols-3 gap-4">
  <!-- Office Building Card -->

  <a href="/admin/residences/buildings">     
    <div       
      class="p-6 rounded-lg border border-gray-200 flex flex-col items-center justify-center shadow-md "     
    >       
      <svg         
        class="w-12 h-12 mb-4"         
        viewBox="0 0 24 24"         
        fill="none"         
        stroke="#157f3d"         
        stroke-width="2"         
        stroke-linecap="round"         
        stroke-linejoin="round"       
      >         
        <rect x="4" y="2" width="16" height="20" />         
        <path d="M8 6h2m-2 4h2m-2 4h2m4-8h2m-2 4h2m-2 4h2" />       
      </svg>       
      <h3 class="text-lg font-semibold">Apartmentos</h3>     
    </div>   
  </a>    
  
  <a href="/admin/dashboard/residences/houses " class="hover:shadow-lg hover:scale-105 transition-all duration-300">     
    <div       
      class="p-6 rounded-lg border border-gray-200 flex flex-col items-center justify-center shadow-md"     
    >       
      <svg         
        class="w-12 h-12 mb-4"         
        viewBox="0 0 24 24"         
        fill="none"         
        stroke="#157f3d"         
        stroke-width="2"         
        stroke-linecap="round"         
        stroke-linejoin="round"       
      >         
        <path d="M3 12l9-9 9 9M5 10v10h14V10" />         
        <path d="M9 14h6v8H9z" />       
      </svg>       
      <h3 class="text-lg font-semibold">Casas</h3>     
    </div>   
  </a>