<div class="flex px-4 items-center mt-2 justify-between mb-8">
    <h1
      class="text-3xl font-bold sm:text-2xl md:text-4xl lg:text-4xl text-left"
    >
   Configuracion
  </h1>
</div>

<div class=" px-4 lg:flex">
  <!-- Tabs Navigation -->
  <ul class="flex-column space-y-6 text-xl font-medium text-gray-500 mb-4 md:mb-0 md:me-4" id="vertical-tab" data-tabs-toggle="#vertical-tab-content" role="tablist">
    <!-- Profile Tab -->
    <li role="presentation">
      <button id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:text-white hover:bg-green-700">
        <svg class="w-4 h-4 me-2 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
        </svg>
        Perfil
      </button>
    </li>
    <!-- Dashboard Tab -->
    <li role="presentation">
      <button id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:text-white hover:bg-green-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5 me-2 text-gray-300" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
        </svg>
        
        Pagos
      </button>
    </li>
    <!-- Settings Tab -->
    <li role="presentation">
      <button id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:text-white hover:bg-green-700">
        <svg class="w-4 h-4 me-2 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M18 7.5h-.423l-.452-1.09.3-.3a1.5 1.5 0 0 0 0-2.121L16.01 2.575a1.5 1.5 0 0 0-2.121 0l-.3.3-1.089-.452V2A1.5 1.5 0 0 0 11 .5H9A1.5 1.5 0 0 0 7.5 2v.423l-1.09.452-.3-.3a1.5 1.5 0 0 0-2.121 0L2.576 3.99a1.5 1.5 0 0 0 0 2.121l.3.3L2.423 7.5H2A1.5 1.5 0 0 0 .5 9v2A1.5 1.5 0 0 0 2 12.5h.423l.452 1.09-.3.3a1.5 1.5 0 0 0 0 2.121l1.415 1.413a1.5 1.5 0 0 0 2.121 0l.3-.3 1.09.452V18A1.5 1.5 0 0 0 9 19.5h2a1.5 1.5 0 0 0 1.5-1.5v-.423l1.09-.452.3.3a1.5 1.5 0 0 0 2.121 0l1.415-1.414a1.5 1.5 0 0 0 0-2.121l-.3-.3.452-1.09H18a1.5 1.5 0 0 0 1.5-1.5V9A1.5 1.5 0 0 0 18 7.5Zm-8 6a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7Z"/>
        </svg>
       General
      </button>
    </li>

    <li role="presentation">
      <button id="claims-tab" data-tabs-target="#claims" type="button" role="tab" aria-controls="claims" aria-selected="false" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:text-white hover:bg-green-700">
<svg xmlns="http://www.w3.org/2000/svg"   fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
</svg>

       Reclamos
      </button>
    </li>

  </ul>
  
  <!-- Tab Content -->
  <div id="vertical-tab-content" class="px-4 sm:px-6 py-2 bg-gray-50 text-medium text-gray-500 rounded-lg w-full">
    <div class="hidden" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <!-- Main container using flex layout -->
      <div class="w-full max-w-5xl mx-auto bg-white rounded-lg shadow p-4 sm:p-6">
        <div class="flex flex-col lg:flex-row gap-4">
          <!-- Left column with large profile image -->
          <div class="w-full lg:w-2/5 flex flex-col items-center justify-center lg:border-r lg:pr-4 pb-4 lg:pb-0">
            <form action="/admin/update_photo" method="post" enctype="multipart/form-data" class="flex flex-col items-center w-full">
              <input type="hidden" name="user_id" value="{{user.id}}">
              
              <!-- Profile image with responsive sizing -->
              <label for="dropzone-file" class="flex flex-col items-center justify-center w-48 h-48 sm:w-48 sm:h-48 md:w-48 md:h-48    rounded-full cursor-pointer relative group">
                {% if user.photo %}
                  <img id="user-photo" src="{{url_for('static', filename='uploads/' + user.photo)}}" alt="User Photo"
                    class="w-full h-full  rounded-full object-cover transition-opacity duration-300 group-hover:opacity-30" />
                {% else %}
                  <img id="user-photo" src="{{url_for('static', filename='uploads/default.png')}}" alt="User Photo"
                    class="w-full   h-full rounded-full object-cover transition-opacity duration-300 group-hover:opacity-30" />
                {% endif %}
  
                <div class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                  <img src="{{url_for('static', filename='icons/camera.svg')}}" alt="" class="w-10 h-10 sm:w-12 sm:h-12 lg:w-16 lg:h-16">
                </div>
                <input id="dropzone-file" type="file" name="photo" class="hidden" accept="image/*"/>
              </label>
  
              <button id="bttn" type="submit" class="mt-4 hidden bgverde text-md text-white rounded-lg px-4 py-2 w-36 sm:w-48">
                Actualizar foto
              </button>
            </form>
  
            {% if user.photo %}
            <div class="mt-4">
              <form action="/admin/delete_photo" method="post">
                <input type="hidden" name="user_id" value="{{user.id}}">
                <button data-tooltip-target="tooltip-bottom" data-tooltip-placement="bottom" type="submit"
                  class="text-white bg-white font-medium rounded-lg text-sm py-2.5 text-center">
                  <img class="w-6 h-6 sm:w-8 sm:h-8" src="{{url_for('static', filename='icons/trash.svg')}}" alt="">
                </button>
                <div id="tooltip-bottom" role="tooltip"
                  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bgverde rounded-lg shadow-xs  tooltip">
                  Eliminar Foto actual
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
              </form>
            </div>
            {% endif %}
            

          </div>
  
          <!-- Right column with form fields -->
          <div class="w-full  lg:w-3/4 mt-4 lg:mt-0">
            <form action="/admin/update_profile" method="post" class="w-full space-y-4" id="myInfoForm">
              <input type="hidden" name="user_id" value="{{user.id}}">
              <h2 class="text-xl sm:text-2xl text-gray-800">Información Personal</h2>
              
              <!-- Form fields with responsive grid -->
              <div class="rounded-md mb-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div>
                    <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" readonly autocomplete="off" id="name" name="name" value="{{user.name}}" class="focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full max-w-md  text-lg text-gray-600 border-gray-300 rounded-md " required>
                  </div>
                  <div>
                    <label for="last_name" class="block text-sm font-medium text-gray-700">Apellido</label>
                    <input type="text" readonly  autocomplete="off" id="last_name" name="last_name" value="{{user.last_name}}" class="focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full max-w-md  text-lg text-gray-600 border-gray-300 rounded-md " required>
                  </div>
                </div>
              </div>
              
              <div class="rounded-md mb-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div>
                    <label for="cedula" class="block text-sm font-medium text-gray-700">Cédula</label>
                    <input type="text" readonly  autocomplete="off" id="cedula" name="cedula" value="{{user.id_card}}" class="focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full max-w-md  text-lg text-gray-600 border-gray-300 rounded-md " required>
                  </div>
                  <div>
                    <div>
                      <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
                      <input type="tel" id="phone" autocomplete="off" name="phone" value="{{user.Phone}}" class="focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full   text-lg text-gray-600 border-gray-300 rounded-md " required>
                    </div>
                  </div>
                </div>
              </div>

              <div class="rounded-md mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email"  autocomplete="off" id="email" name="email" value="{{user.email}}" class="focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full   text-lg text-gray-600 border-gray-300 rounded-md " required>
              </div>
              
              <div class="flex justify-center mt-6">
                <button type="submit" id="submitButton" class="bgverde disabled:opacity-50 disabled:cursor-not-allowed text-white px-6 py-2 sm:px-8 sm:py-3 rounded-md">
                  Guardar Cambios
                </button>
              </div>
            </form>
          </div>
        </div>
        
      </div>

      <!-- Main container -->


<!-- Password section with same width and margin-top -->
<div class="w-full max-w-5xl mx-auto mt-8">
  <div class="bg-white rounded-lg shadow p-4 sm:p-6">
    <h3 class="font-bold text-gray-700 mb-4">Cambiar Contraseña</h3>
    <form action="/admin/update_password" method="post">
      <input type="hidden" name="user_id" value="{{user.id}}">
      <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="current-password">
              Contraseña Actual
          </label>
          <input name="current_password" required class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:ring-green-500 focus:border-green-500" id="current-password" type="password">
      </div>
  
      <div x-data="passwordValidation()">
          <div class="mb-4">
              <label for="new_password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
              <input type="password" id="new_password" name="new_password" required
                  x-model="password" x-on:input="validate()"
                  class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:ring-green-500 focus:border-green-500">
          </div>
  
          <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-password">
                  Confirmar Nueva Contraseña
              </label>
              <input name="confirm_password" required class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:ring-green-500 focus:border-green-500" id="confirm-password" type="password"
                  x-model="confirmPassword" x-on:input="validate()">
          </div>
  
          <!-- Lista de requisitos -->
          <h2 class="mb-2 text-lg font-semibold text-gray-900">Requisitos de la contraseña:</h2>
          <ul class="max-w-md space-y-1 text-gray-500 list-inside">
              <li class="flex items-center">
                  <svg class="w-4 h-4 me-2 shrink-0" 
                      :class="lengthValid ? 'text-green-500' : 'text-gray-500'" 
                      aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  Mínimo 10 caracteres
              </li>
              <li class="flex items-center">
                  <svg class="w-4 h-4 me-2 shrink-0" 
                      :class="uppercaseValid ? 'text-green-500' : 'text-gray-500'" 
                      aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  Al menos una letra mayúscula
              </li>
              <li class="flex items-center">
                  <svg class="w-4 h-4 me-2 shrink-0" 
                      :class="specialCharValid ? 'text-green-500' : 'text-gray-500'" 
                      aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                  </svg>
                  Al menos un carácter especial (!@#?()&$*)
              </li>
          </ul>
  
          <div class="flex justify-end mt-4">
            <button type="submit"
            class="bgverde text-white px-4 py-2 disabled:opacity-50 disabled:cursor-not-allowed rounded-md transition"
            :disabled="!isValid">
            Actualizar Contraseña
        </button>
    </div>
  </div>
</div>
      
    </div>
    </div>





    <div class="hidden" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <h3 class="text-2xl text-gray-800">Precio de los Pagos</h3>
      <div class="hidden">
        <form action="/admin/update_debt_amount" class="hidden" method="POST">
          <input id="amount" type="number" name="debt_amount" required value="{{debt_amount.amount}}" 
          class="mt-1 focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full max-w-md  text-lg text-gray-600 border-gray-300 rounded-md ">
          <!-- <button type="submit" class="bgverde text-white mt-4 px-4 py-2 rounded-md w-max hover:opacity-90 transition">Actualizarr</button> -->
          <button type="submit">Mandar</button>
          <p class="text-md text-gray-600 mt-2">Atencion! al cambiar esto las deudas nuevas que se generaran tendran este monto.</p>
          
        </form>
      </div>
      <form action="/admin/update_debt_amount" method="POST">
        <input id="amount" type="number" name="debt_amount" required value="{{debt_amount.amount}}" 
        class="mt-1 focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full max-w-md  text-lg text-gray-600 border-gray-300 rounded-md ">
        <!-- <button type="submit" class="bgverde text-white mt-4 px-4 py-2 rounded-md w-max hover:opacity-90 transition">Actualizarr</button> -->
        <button type="submit" class="py-2.5 px-5 bgverde rounded-md text-white mt-3">Mandar</button>
        <p class="text-md text-gray-600 mt-2">Atencion! al cambiar esto las deudas nuevas que se generaran tendran este monto.</p>
        
      </form>
    </div>



    <div class="hidden" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <div class="flex flex-col gap-8">
    
        <!-- Título del logo -->
        <h1 class="text-2xl text-gray-800">Logo</h1>
    
        <!-- FORMULARIO -->
        <form action="/admin/update_logo" method="POST" enctype="multipart/form-data" class="flex flex-col gap-4">
    
          <!-- Sección del logo -->
          <div class="relative w-40 h-40 bg-white rounded-lg shadow-sm">
            <img id="logoPreview" src="{{url_for('static', filename='img/logo.png')}}" alt="Logo del residencial"
              class="w-full h-full object-cover rounded-lg">
    
            <!-- Botón lápiz -->
            <label for="logoInput"
              class="absolute bottom-2 right-2 bgverde rounded-full p-2 shadow cursor-pointer hover:opacity-90 transition">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536M9 11l6-6m2-2a2.828 2.828 0 114 4L13 19H7v-6l8-8z" />
              </svg>
            </label>
    
            <input type="file" id="logoInput" name="logo" class="hidden" accept="image/*" />
          </div>
    
          <!-- Botón Cambiar -->
          <button type="submit" id="changeLogoBtn"
            class="hidden bgverde text-white px-4 py-2 rounded-md w-max hover:opacity-90 transition">
            Cambiar
          </button>
    
        </form>
    
        <!-- Sección del nombre -->
        <div>
          <label for="name" class="text-2xl text-gray-900 mb-2 block">Nombre del Residencial</label>
          <input id="name" type="text" value="Pinares del Norte" readonly
            class="mt-1 focus:outline-none focus:ring-green-500 focus:border-green-500 block w-full max-w-md pr-12 text-lg text-gray-600 border-gray-300 rounded-md">
          <p class="text-md text-gray-600 mt-2">Este nombre se mostrará en el encabezado y en los correos electrónicos enviados.</p>
        </div>
    
      </div>
    </div>
    
    <!-- Script para previsualizar imagen y mostrar botón -->
    <script src="{{url_for('static', filename='js/settings.js')}}"></script>
    <script>
     
    </script>

    
    
    <div class="hidden" id="claims" role="tabpanel" aria-labelledby="claims-tab">
      <div class="flex flex-col gap-4">
        <div class="flex items-center justify-between">
          <h1 class="text-2xl text-gray-800">Posibles Motivos de Reclamos</h1>
            <button
  data-modal-target="add-category-modal" data-modal-toggle="add-category-modal"
    class="px-2 py-2 bgverde text-white rounded-full"

  >
    <img src="{{ url_for('static', filename='icons/plus.svg')}}" class="h-7 w-7" />
  </button>
        </div>
        <table>

          <tbody>
            {% for c in categories %}
            <tr>
              <td class="border px-4 py-2">{{ c.name }}</td>
              <td class="border px-4 py-2">
                <form action="/admin/delete_claim_category" method="POST">
                  <input type="hidden" name="category_id" value="{{ c.id }}">
                  <button type="submit" class="text-red-500 hover:text-red-700">Eliminar</button>
                </form>
                <button type="submit" data-modal-target="edit-category-modal" data-modal-toggle="edit-category-modal" data-categoryId="{{c.id}}" data-categoryName="{{c.name}}" class="text-blue-500 hover:text-blue-700">Editar</button>

              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <script>

        document.querySelectorAll('[data-modal-target="edit-category-modal"]').forEach(button => {
          button.addEventListener('click', () => {
            const categoryId = button.getAttribute('data-categoryId');
            const categoryName = button.getAttribute('data-categoryName');
            
            document.getElementById('edit-category-id').value = categoryId;
            document.getElementById('edit-motivo').value = categoryName;
          });
        });
      </script>

      
    
<div id="edit-category-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
  <div class="relative w-full max-w-md h-full md:h-auto">
    <div class="relative bg-white rounded-lg shadow">
      <!-- Encabezado -->
      <div class="flex items-start justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          Editar motivo
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="edit-category-modal">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>

      <!-- Cuerpo del modal -->
      <div class="p-6 space-y-4">
        <form action="/admin/edit_claim_category" method="post">
          <!-- ID oculto -->
          <input type="hidden" id="edit-category-id" name="id">
          
          <!-- Nombre del motivo -->
          <label for="edit-motivo" class="block mb-2 text-sm font-medium text-gray-900">Nombre del motivo</label>
          <input type="text" id="edit-motivo" name="new_category" class="bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 text-sm rounded-lg block w-full p-2.5" placeholder="Escribe el motivo..." required>
      </div>

      <!-- Footer del modal -->
      <div class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b">
        <button type="submit" class="text-white bgverde font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Guardar cambios
        </button>
        <button data-modal-hide="edit-category-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 border border-gray-200">
          Cancelar
        </button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div id="add-category-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
  <div class="relative w-full max-w-md h-full md:h-auto">
    <!-- Contenido del modal -->
    <div class="relative bg-white rounded-lg shadow ">
      <!-- Encabezado -->
      <div class="flex items-start justify-between p-4 border-b rounded-t ">
        <h3 class="text-xl font-semibold text-gray-900 ">
          Nuevo motivo
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="add-category-modal">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
      </div>

      <!-- Cuerpo del modal -->
      <div class="p-6 space-y-4">
        <form action="/admin/add_claim_category" method="post">
          <label for="motivo" class="block mb-2 text-sm font-medium text-gray-900 ">Nombre del motivo</label>
          <input type="text" id="motivo" name="motivo" class="bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 text-sm rounded-lg block w-full p-2.5 " placeholder="Escribe el motivo..." required>
        </div>
        
        <!-- Footer del modal -->
        <div class="flex items-center justify-end p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button  type="submit" class="text-white bgverde font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Guardar
          </button>
        </form>
        <button data-modal-hide="add-category-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 border border-gray-200">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>





  </div>


</div>


<style>

  [role="tab"][aria-selected="true"] {
    background-color: #15803d !important; /* bg-green-700 */
    color: white !important;
  }
  
  /* Active tab SVG styling */
  [role="tab"][aria-selected="true"] svg {
    color: white !important;
  }
</style>