{% include 'includes/links.html' %}




<nav class="fixed top-0 z-40 w-full  gris">
    <div class="px-3 py lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center justify-start rtl:justify-end">
                <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 ">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="#157F3D" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                    </svg>
                </button>
                <a href="" class="flex ms-2 md:me-24">
                    <img src="{{url_for('static', filename='img/logo.png')}}" class="h-16 pt-2 me-3" alt="FlowBite Logo" />
                    <span class="hidden text-white self-center sm:block sm:text-2xl md:text-2xl lg:text-2xl xl:text-2xl bold whitespace-nowrap">
                        Pinares del Norte
                    </span>
                </a>
            </div>
            <div class="flex items-center space-x-2">

                <!-- Notificaciones -->
               

                <!-- Dropdown con foto del usuario -->
                <div x-data="{ open: false }" class="relative">
                    <button @click="open = !open" class="h-16 w-16 mt-1 rounded-full overflow-hidden">
                        {% if user['photo'] %}
                        <img src="{{ url_for('static', filename='uploads/' + user.photo) }}" alt="Foto de usuario" class="w-14 h-14 rounded-full object-cover">
                        

                        {% else %}
                            <img src="{{ url_for('static', filename='uploads/default.png') }}" alt="Foto de usuario" class="w-full h-full object-cover">
                        {% endif %}
                    </button>
                    <!-- Dropdown -->
                    <div 
                    x-show="open" 
                    @click.away="open = false" 
                    x-transition 
                    class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg  z-20">
                    <div class="px-4 py-3">
                        {% if user %}
                            <span class="block text-sm text-gray-900 ">
                                {{ user['name'] }} {{ user['last_name'] }}
                            </span>
                            
                            <span class="block text-sm text-gray-500 truncate ">
                                {{ user['email'] }}
                            </span>
                        {% else %}
                            <span class="block text-sm text-gray-900 ">
                                Invitado
                            </span>
                            <span class="block text-sm text-gray-500 truncate ">
                                Sin correo electrónico
                            </span>
                        {% endif %}
                    </div>
                    <ul class="">
                        <li>
                            <a href="/logout" class="block px-4 py-2 text-sm text-red-700 hover:bg-gray-100">
                                Cerrar sesion
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</nav>

      <aside id="logo-sidebar" class=" gris fixed top-0 left-0 z-30 w-64 h-screen pt-20 transition-transform -translate-x-full  sm:translate-x-0"  aria-label="Sidebar">
         <div class=" gris h-full px-3 pb-4 overflow-y-auto  ">
            <ul class="space-y-2 font-medium">
               <li>
                  <a href="/admin" class="flex items-center p-1 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                    <img src="{{url_for('static', filename='icons/dashboard.svg')}}" alt="" class="h-7 w-7">
                     <span class="ms-2  text-white font-semibold ">Dashboard</span>
                  </a>
               </li>
               <li>
                  <a href="/admin/users" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                     <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#157F3D" viewBox="0 0 20 18">
                        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                     </svg>
                     <span class="flex-1 text-white ms-3 whitespace-nowrap">Usuarios</span>
                  </a>
               </li>
               <li>
                  <a href="/admin/residences" class="flex items-center p-1.5 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#157f3d" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2v14a1 1 0 1 1 0 2H5a1 1 0 1 1 0-2V5a1 1 0 0 1-1-1Zm5 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1h-1Zm-5 4a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H9Zm5 0a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1h-1Zm-3 4a2 2 0 0 0-2 2v3h2v-3h2v3h2v-3a2 2 0 0 0-2-2h-2Z" clip-rule="evenodd"/>
                      </svg>
                      
                     <span class="flex-1 text-white ms-2.5 whitespace-nowrap">Viviendas</span>
                     <!-- <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span> -->
                  </a>
               </li>
               <li>
                  <a href="/admin/claims" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#157f3d"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h168q13-36 43.5-58t68.5-22q38 0 68.5 22t43.5 58h168q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm80-80h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm200-190q13 0 21.5-8.5T510-820q0-13-8.5-21.5T480-850q-13 0-21.5 8.5T450-820q0 13 8.5 21.5T480-790ZM200-200v-560 560Z"/></svg>
                     <span class="flex-1 text-white ms-2 whitespace-nowrap">Reclamos</span>
                  </a>
               </li>
               <li>
                  <a href="/admin/payments" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#157f3d"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
                     <span class="flex-1 text-white ms-3 whitespace-nowrap">Pagos</span>
                  </a>
               </li>
               <li>
                  <a href="/admin/settings" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-700 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#157f3d"><path d="m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm70-80h79l14-106q31-8 57.5-23.5T639-327l99 41 39-68-86-65q5-14 7-29.5t2-31.5q0-16-2-31.5t-7-29.5l86-65-39-68-99 42q-22-23-48.5-38.5T533-694l-13-106h-79l-14 106q-31 8-57.5 23.5T321-633l-99-41-39 68 86 64q-5 15-7 30t-2 32q0 16 2 31t7 30l-86 65 39 68 99-42q22 23 48.5 38.5T427-266l13 106Zm42-180q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Zm-2-140Z"/></svg>
                     <span class="flex-1 text-white ms-3 whitespace-nowrap">Configuracion</span>
                  </a>
               </li>
            </ul>
         </div>
      </aside>
      <div class="px-2 py-6 sm:ml-64 ">
         <div class="p-2 rounded-lg mt-14 max-w-full overflow-auto">
           {% block content %}

           
           {% endblock %}
        </div>
    </div>


    
    <div id="loading-container">
        <div class="spinner"></div>
    </div>





    <div id="alert-container" class="fixed bottom-4 right-4 space-y-2 z-50"></div>


       {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
           <div id="flash-messages" data-messages='{{ messages | tojson | safe }}'></div>
       {% endif %}
   {% endwith %}

   
   




   
   
   
   
   
</body>
<script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/spinner.js') }}"></script>




</html>
